<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'static_website/about.css' %}" />
  <style>
    .login-container {
      display: flex;
    }
    .login-form {
      flex: 1;
      margin-right: 20px;
    }
  </style>
</head>
<body>
  <div class="topstrip">
    <!-- Top strip content here -->
  </div>
  
  <header>
  </header>
  
  <br>
  
  <section class="about-us">
    <h2>Login</h2>
    <div class="login-container">
      <div class="login-form">
        <h3>Student Login</h3>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'student_login' %}">
            {% csrf_token %}
            <label for="student_username">Username:</label>
            <input type="text" id="student_username" name="student_username" required>
            <br>
            <label for="student_password">Password:</label>
            <input type="password" id="student_password" name="student_password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <script>
            document.getElementById('student_username').value = '';
            document.getElementById('student_password').value = '';
        </script>
      </div>
      <div class="login-form">
        <h3>Proctor Login</h3>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'proctor_login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <script>
            document.getElementById('username').value = '';
            document.getElementById('password').value = '';
        </script>
      </div>
    </div>
  </section>
  <footer class="bottomstrip">
    <!-- Footer content here -->
  </footer>
</body>
</html>
