<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'static_website/about.css' %}" />
    <!-- Ensure the path to about.css is correct -->
  </head>
  <body>
    <div class="topstrip">
      <div style="align-self: flex-start; align-self: center">
        <a href="https://kjsit.somaiya.edu.in/"
          ><img
            class="img1"
            src="{% static 'somaiyalogo.png' %}"
            alt="SOMAIYA Logo"
        /></a>
      </div>
      <div style="align-self: flex-end; align-self: center">
        <a href="https://www.facebook.com/kjsieitofficial"
          ><img class="logofb" src="{% static 'fblogo.png' %}" alt=""
        /></a>
      </div>
      <div style="align-self: flex-end; align-self: center">
        <a href="https://www.twitter.com/kjsieit1"
          ><img class="logotit" src="{% static 'twitterlogo.png' %}" alt=""
        /></a>
      </div>
      <div style="align-self: flex-end; align-self: center">
        <a
          href="https://www.instagram.com/kjsit_official/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
          ><img
            class="logoinsta"
            src="{% static 'instalogo.png' %}"
            alt="insta"
        /></a>
      </div>
      <div style="align-self: flex-end; align-self: center">
        <img
          class="img2"
          src="{% static 'somaiyatrustlogo.jpg' %}"
          alt="SOMAIYA trust"
        />
      </div>
    </div>

    <header>
      <h1>Student Proctor Program</h1>
      <div id="menu-bar-2-container">
        <div id="menu-bar-2">
          <a href="{% url 'index' %}">MAIN PAGE</a>
          <a href="{% url 'search_results' %}">STUDENT INFO</a>
          <a href="ANNOUNCEMENT.html">REQUESTS</a>
          <a href="{% url 'meeting' %}">PROCTOR MEETING</a>
          <a href="{% url 'announcement' %}">ANNOUNCEMENT</a>
          <a href="">MESSAGES</a>
          <a href="{% url 'about' %}">ABOUT</a>
        </div>
    </div>  
    </header>

    <section>
     
      
      <ul class="search-results">
        
          <div class="student-details-container">
            <div class="student-details">
              <div class="student-details-container">
                  <div class="student-details">
                      
                    <h2>Announcements</h2>
                  <section class="announcements">
                    
                    <!-- Announcements content will be dynamically updated by JavaScript -->
                  </section>
              
                  
                </div>
              
            </div>
            
        </div>
      </div>
          
          
          
      </ul>

      
      <section>
    <br />
  </body>
  <script src="{% static 'static_website/announcements.js' %}"></script>

  <footer class="bottomstrip">
    <div style="align-self: flex-start; align-self: center">
      <a href="https://kjsit.somaiya.edu.in/"
        ><img src="{% static 'Somaiya-white.svg' %}" alt="SOMAIYA Logo"
      /></a>
    </div>
    <div style="align-self: flex-end; align-self: center">
      <a href="https://www.facebook.com/kjsieitofficial"
        ><img class="logofb" src="{% static 'fblogo.png' %}" alt=""
      /></a>
    </div>

    <div style="align-self: flex-end; align-self: center">
      <a
        target="_blank"
        href="https://www.instagram.com/kjsit_official/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
        ><img class="logoinsta" src="{% static 'instalogo.png' %}" alt="insta"
      /></a>
    </div>
    <div style="align-self: flex-end; align-self: center">
      <img
        class="img2"
        src="{% static 'somaiyatrustlogo.jpg' %}"
        alt="SOMAIYA trust"
      />
    </div>
  </footer>

  <!-- Your static file references -->
  <!-- <img src="{% static 'fb_logo.png' %}" alt="Facebook Logo">
  <img src="{% static 'insta_logo.png' %}" alt="Instagram Logo"> 
  <img src="{% static 'somaiya_trust_logo.jpg' %}" alt="Somaiya Trust Logo">
  <img src="{% static 'Somaiya-white.svg' %}" alt="Somaiya White Logo">
  <img src="{% static 'somaiya_logo.png' %}" alt="Somaiya Logo"> -->
</html>
